{
    "name": "{{ metric.name }}",
    "description": "{{ metric.description }}",
    "specification": {
      "datasource": {
        "id": "{{ metric.model }}"
      },
      "basic_specification": {
        "measure": {
          "field": "{{ metric.expression }}",
          "aggregation": {{ metric.calculation_method|jsonify }}
        },
        "time_dimension": {
          "field": "{{ metric.timestamp }}"
        },
        "filters": {{ metric.filters|jsonify }}
      },
      "is_running_total": true
    },
    "extension_options": {
      "allowed_dimensions": {{ metric.dimensions|jsonify }},
      "allowed_granularities": {{ metric.time_grains|jsonify }},
      "offset_from_today": 0
    },
    "representation_options": {
      "type": "NUMBER_FORMAT_TYPE_CURRENCY",
      "sentiment_type": "SENTIMENT_TYPE_UP_IS_GOOD",
      "row_level_id_field": {},
      "row_level_name_field": {},
      "currency_code": "CURRENCY_CODE_EUR"
    },
    "insights_options": {
      "show_insights": true,
      "settings": [
            {
                "type": "INSIGHT_TYPE_RISKY_MONOPOLY",
                "disabled": false
            },
            {
                "type": "INSIGHT_TYPE_TOP_DRIVERS",
                "disabled": false
            },
            {
                "type": "INSIGHT_TYPE_CURRENT_TREND",
                "disabled": false
            },
            {
                "type": "INSIGHT_TYPE_BOTTOM_CONTRIBUTORS",
                "disabled": false
            },
            {
                "type": "INSIGHT_TYPE_TOP_DETRACTORS",
                "disabled": false
            },
            {
                "type": "INSIGHT_TYPE_NEW_TREND",
                "disabled": false
            },
            {
                "type": "INSIGHT_TYPE_RECORD_LEVEL_OUTLIERS",
                "disabled": true
            }
        ]
    },
    "comparisons": {
        "comparisons": [
            {
                "compare_config": {
                    "comparison": "TIME_COMPARISON_PREVIOUS_PERIOD"
                },
                "index": 0
            },
            {
                "compare_config": {
                    "comparison": "TIME_COMPARISON_YEAR_AGO_PERIOD"
                },
                "index": 1
            }
        ]
    }
  }